<main class="container">
  <p *ngIf="technologies.length == 0; else elseBlock" class="text">Crear una tecnología</p>
  <ng-template #elseBlock >
    <div class="list-container">
      <app-basic-select class="pagination-select"></app-basic-select>
    </div>
  </ng-template>

  <span class="button">
    <app-primary-button
      [optionText]="'Crear'"
      (click)="openModal()"
    ></app-primary-button>
  </span>
</main>

<app-modal *ngIf="modalIsVisible" [optionTitle]="'Crear tecnología'" (closeEvent)="closeModal()">
  <app-technology-form (technologyCreated)="openSuccess()" (technologyNotCreated)="openError($event)"></app-technology-form>
</app-modal>

<app-modal *ngIf="successIsVisible" (closeEvent)="closeSuccess()">
  <app-modal-message
    (closeEvent)="closeSuccess()"
    [optionLabel]="'!Tecnología Creada!'"
  ></app-modal-message>
</app-modal>

<app-modal *ngIf="errorIsVisible" (closeEvent)="closeError()">
  <app-modal-message
    (closeEvent)="closeError()"
    [isSuccessful]="false"
    [optionLabel]="errorMessage"
  ></app-modal-message>
</app-modal>
