<main class="container">
  <p *ngIf="bootcamps.length == 0; else elseBlock" class="text">
    Crear un bootcamp
  </p>

  <ng-template #elseBlock>
    <div class="list-container">
      <div class="pagination-select">
        <app-basic-select
          [options]="orderByOptions"
          (selectedOption)="onSelectedOrderByChange($event)"
          class="pagination-select"
        ></app-basic-select>
        <app-basic-select
          (selectedOption)="onSelectedOptionChange($event)"
          [options]="sizePaginationOptions"
          class="pagination-select"
        ></app-basic-select>
        <button class="asc-icon-button" (click)="changeSorting()">
          <i class="fa-solid {{ buttonIcon }}"></i>
        </button>
      </div>

      <app-on-class-item
        *ngFor="let bootcamp of bootcamps"
        [optionTitle]="bootcamp.name"
        [optionDescription]="bootcamp.description"
        [optionIcon]="'greater-than'"
        (click)="onBootcampClick(bootcamp.id)"
      ></app-on-class-item>
    </div>

    <div class="bottom">
      <app-pagination
      [totalItems]="totalItems"
      [itemsPerPage]="selectedSize"
      (pageChanged)="onPageChange($event)"
      ></app-pagination>
    </div>
  </ng-template>

  <app-primary-button
    class="create-button"
    [optionText]="'Crear'"
    (click)="openModal()"
  ></app-primary-button>
</main>

<app-modal
  *ngIf="modalIsVisible"
  [optionTitle]="'Crear bootcamp'"
  (closeEvent)="closeModal()"
>
  <app-bootcamp-form
    [capacitiesForSelect]="capacitiesForSelect"
    [availableCapacities]="availableCapacities"
    (bootcampCreated)="openSuccess()"
    (bootcampNotCreated)="openError($event)"
  ></app-bootcamp-form>
</app-modal>

<app-modal *ngIf="successIsVisible" (closeEvent)="closeSuccess()">
  <app-modal-message
    (closeEvent)="closeSuccess()"
    [optionLabel]="'¡Bootcamp Creado!'"
  ></app-modal-message>
</app-modal>

<app-modal *ngIf="errorIsVisible" (closeEvent)="closeError()">
  <app-modal-message
    (closeEvent)="closeError()"
    [isSuccessful]="false"
    [optionLabel]="errorMessage"
  ></app-modal-message>
</app-modal>

