<main class="container">
  <p class="text">
    Crear una capacidad
  </p>
  <app-primary-button
    class="create-button"
    [optionText]="'Crear'"
    (click)="openModal()"
  ></app-primary-button>
</main>

<app-modal
  *ngIf="modalIsVisible"
  [optionTitle]="'Crear capacidad'"
  (closeEvent)="closeModal()"
>
  <app-capacity-form
    [technologiesForSelect]="technologiesForSelect"
    [availableTechnologies]="availableTechnologies"
    (capacityCreated)="openSuccess()"
    (capacityNotCreated)="openError($event)"
  ></app-capacity-form>
</app-modal>

<app-modal *ngIf="successIsVisible" (closeEvent)="closeSuccess()">
  <app-modal-message
    (closeEvent)="closeSuccess()"
    [optionLabel]="'!Capacidad Creada!'"
  ></app-modal-message>
</app-modal>

<app-modal *ngIf="errorIsVisible" (closeEvent)="closeError()">
  <app-modal-message
    (closeEvent)="closeError()"
    [isSuccessful]="false"
    [optionLabel]="errorMessage"
  ></app-modal-message>
</app-modal>
