<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <app-basic-input
    [optionLabel]="'Fecha de Inicio'"
    [optionInputType]="'date'"
    [optionIsRequired]="true"
    formControlName="startDate"
    (valueChange)="onValueChange('startDate', $event)"
  ></app-basic-input>

  <app-basic-input
    [optionLabel]="'Fecha de Finalización'"
    [optionInputType]="'date'"
    [optionIsRequired]="true"
    formControlName="endDate"
    (valueChange)="onValueChange('endDate', $event)"
  ></app-basic-input>

  <app-basic-input
    [optionLabel]="'Cupo máximo'"
    [optionInputType]="'number'"
    [optionIsRequired]="true"
    [optionPlaceholder]="'0'"
    formControlName="maxNumOfStudents"
    (valueChange)="onValueChange('maxNumOfStudents', $event)"
  ></app-basic-input>

  <app-primary-button [optionText]="'Crear'"></app-primary-button>
</form>
